@font-face {
    font-family: NueHaas;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: Satisfaction;
    src: url(./fonts/Satisfaction.ttf);
}

@font-face {
    font-family: Carla;
    src: url(./fonts/CarlaSans.otf);
}

@font-face {
    font-family: Handwriting;
    src: url(./fonts/Taylor\ Swift\ Handwriting.ttf);
}

@font-face {
    font-family: Soulmate;
    src: url(./fonts/Soulmate.ttf);
}

@font-face {
    font-family: Optienglish;
    src: url(./fonts/OPTIEngraversOldEnglish.otf);
}

@font-face {
    font-family: FeNit;
    src: url(./fonts/FeENit2.ttf);
}

@font-face {
    font-family: Imfell;
    src: url(./fonts/IMFePIit28P.ttf);
}

@font-face {
    font-family: Tanohe;
    src: url(./fonts/TanoheSans-ExtraBold.ttf);
}

@font-face {
    font-family: Sudestada;
    src: url(./fonts/Sudestada.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: NueHaas;
}

a {
    color: unset;
    text-decoration: none;
}
