@font-face {
    font-family: NueHaas;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

html::-webkit-scrollbar {
    width: 16px;
}

html::-webkit-scrollbar-track {
    width: 90px;
    display: none;
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #d5b8d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: NueHaas;
}

a {
    color: unset;
    text-decoration: none;
}
